
{% extends "home/base.html" %}

{% block content %}
<form id="login" action="{% url 'user:login' %}" method="post">
	{% csrf_token %}
	<input class="btn btn-primary" type="submit" value="Login">
</form>
<h2> OR </h2>
<form id="create_user_form" action="/user/cu/" method="post" enctype="multipart/form-data">
{% csrf_token %}
	<table id="create_user_table">
		<tr>
			<td><label for="name">Name:</label></td>
			<td><input type="text" id="name" name="name"></td>
		</tr>
		<tr>
			<td><label for="email">ASU Email:</label></td>
			<td><input type="text" id="email" name="email"></td>
		</tr>
		<tr>
			<td><label for="grad_year">Grad Year:</label></td>
			<td><input type="text" id="grad_year" name="grad_year"></td>
		</tr>
		<tr>
			<td><label for="user_picture">Picture:</label></td>
			<td><input type="file" id="user_picture" class="" name="user_picture"></td>
		</tr>
		<tr>
			<td></td>
			<td><input class="btn btn-primary" type="submit" value="Create user"></td>
		</tr>
	</table>
</form>
{% endblock %}