{% extends "home/base.html" %}

{% block content %}
<div id="challenge_page">
	<table>
	<tr>
		<td><img src='{{ challenge.challenge_image.url }}' id="challenge_image"></td>
	</tr>
	<tr>
		<td><h1>{{ challenge.challenge_name }}</h1></td>
	</tr>
	<tr>
		<td><p>{{ challenge.challenge_description }}</p></td>
	</tr>
	<tr></tr>
	<tr>
		<td align="center">
		<table id="challenge_action_buttons">
			<tr>
				<td><form action='{{ challenge.challenge_files.url }}'>
					<input type="submit" value="Dowload Challenge" />
				</form>
				</td>
				<td><form action="{% url 'challenge:submit' challenge.id %}">
					<input type="submit" value="Submit" />
				</form>
				</td>
			</tr>
		</table>
		</td>
	</tr>

	<tr id="challenge_page_row_break"></tr>

	<tr>
		{% include 'challenge/challenge_leaderboard.html' %}
	</tr>
	<tr><td><br></td></tr>
	<tr>
		<td><form action="{% url 'challenge:base_help_comment' challenge.id %}">
					<input type="submit" value="Post Comment" />
			</form>
		</td>
	</tr>
	<tr>
		<table id="help_comments">
			<tr>
				<td>
				{% for help_comment in latest_comment_list %}
					{% include 'challenge/comment_frame.html' %}
				{% endfor %}
				</td>
			</tr>
		</table>
	</tr>
	</table>
</div>
{% endblock %}