<!doctype html>

<!--
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
-->
<link rel="stylesheet" type="text/css" href="C:\Git\machine-learning-capstone\django\Website\home\static\home\style.css">

<html>
	<head>
		<div id="header">
			<div id="university_department_name">Appalachian State University Computer Science Department
			</div>
			<div id="header_box">
				<div id="block_header_text">
					<h1 id="page_name_header" class="text header_text">Machine Learning and Vision Coliseum</h1>
					<p id="site_description" class="text header_text">Test your machine learning, algorithmic know-how on this competitive platform and see if you can best your fellow Mountaineers. Download the files for the problem you want to try and upload your results! Or create your own contest problem!
					</p>
				</div>
			</div>
		</div>
	</head>
	<body>
		<p>Hello!</p>
	</body>
</html>